@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenSidebar>
        <div class="d-flex align-items-center p-2">
            <RadzenImage Path="favicon.png" Style="width: 48px; height: 48px;"/>
            <RadzenText Text="Animal Clinic" TextStyle="TextStyle.H5" class="ms-2"/>
        </div>

        @* The NavMenu component is placed inside the sidebar *@
        <NavMenu @rendermode="InteractiveServer"/>

    </RadzenSidebar>
    <RadzenBody>


        <div class="rz-p-4">
            @Body
        </div>

    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<RadzenComponents @rendermode="InteractiveServer"/>

@* The Radzen placeholder components are best placed at the end *@
<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>